/* Hi check out my CSS styling that I've played around with below! */



h1 {
  color: green;
  margin-right: 20px;
  font-size: 35px;
}

#one {
  border-style: solid;
  border-width: 2px 10px 4px 25px;
  background-color: orange;
}
#two {
  border-style: solid;
  border-width: 10px;
  background-color: yellow;
}

p.kaizen {
  border-style: solid;
  color: red;
  text-align: center;
}

p.ubuntu {
  border-style: dotted;
  color: yellow;
  text-align: left;

}

.dawn {
  text-align: right;
  background-color: purple;
}


.divvana p {
  /*only applies to windy wellington... remark*/
  border-style: solid;
  color: green;
  background-color: orange;
  text-align:right;

}


.divvana .key { 

  font-style: italic;
  background-color: red;
  text-align:left;
  border: 1px solid gray;
  margin: 5px 10px 15px 0;
}